PyQt6
psutil
requests
pywin32
undetected-chromedriver
selenium
numpy
Pillow
pyautoit
watchdog
rapidocr-onnxruntime
# Run these separately afterwards
# pip uninstall onnxruntime
# pip install onnxruntime-directML

